<!DOCTYPE html>
{% load static %}
{% static "" as baseUrl %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- Scripts -->
    <script src="{{baseUrl}}js/jquery.min.js"></script>
    <script src="{{baseUrl}}js/browser.min.js"></script>
	<script src="{{baseUrl}}js/breakpoints.min.js"></script>
	<script src="{{baseUrl}}js/util.js"></script>
	<script src="{{baseUrl}}js/main.js"></script>
    <!-- Bootstrap core CSS -->
	<link href="{{baseUrl}}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="{{baseUrl}}css/all.css?after" rel="stylesheet">
	<!-- Custom styles for this template -->
    <link href="{{baseUrl}}css/style.css?after" rel="stylesheet">
    <title>home 하하하하하</title>
</head>
<body>
 <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
         <!--  <img src="images/MEDICAL.jpg" alt="logo" />-->
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">

                  <li class="nav-item">
                     <a class="nav-link" href="main.jsp">메인</a>
                  </li>

                  <li class="nav-item">
                     <a class="nav-link" href="userList.do">users</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="comCodeList.do">comCode</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="updList.do">updpage</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="medicineList.do">medicine</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="mdReplyList.do">mdReply</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="mdMarkList.do">mdMark</a>
                  </li>
                   <li class="nav-item">
                     <a class="nav-link" href="boardList.do">board</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="bReplyList.do">bReply</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="bMarkdList.do">bMark</a>
                  </li>
               </ul>
            </div>
        </div>
    </nav>

 <!-- 헤드 부분! -->

된다 띠바 ㅋㅋㅋ
 <a href="hosts?idx=1"> list</a>

 <!-- 풋터 부분! -->
    <!--footer starts from here-->
    <footer class="footer">

        <div class="container">
            <div class="footer-logo">
		<!--	<a href="#"><img src="images/Myimage.png" alt="" /></a>-->
			</div>
            <!--foote_bottom_ul_amrc ends here-->
            <p class="copyright text-center">All Rights Reserved. &copy; 2018 <a href="#">N & LW Lawn Care</a> Design By :
				<a href="https://html.design/">html design</a>
            </p>
            <!--social_footer_ul ends here-->
        </div>
    </footer>
<!-- Bootstrap core JavaScript -->
<script src="{{baseUrl}}vendor/jquery/jquery.min.js"></script>
<script src="{{baseUrl}}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>